In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/patient/patients.csv
/kaggle/input/datasetmy/Final_Merged.csv

In [2]:
import folium
import pandas as pd

In [3]:
map=folium.Map(location=[42.4072,-71.3824],tiles='Stamen Terrain',zoom_start=10)
fg=folium.FeatureGroup(name="My Map")

In [4]:
df = pd.read_csv("../input/datasetmy/Final_Merged.csv")
df.columns

Index(['Unnamed: 0', 'Id', 'BIRTHDATE', 'DEATHDATE', 'FIRST', 'LAST', 'RACE',
       'ETHNICITY', 'GENDER', 'CITY', 'STATE', 'COUNTY', 'HEALTHCARE_EXPENSES',
       'HEALTHCARE_COVERAGE', 'age', 'SCORE', 'COUNT', 'WEIGHT', 'ADH',
       'Life Span'],
      dtype='object')

In [5]:
def colorchange(sex):
    if sex==-1:
        return 'red'
    elif sex==-1:
        return 'blue'

In [6]:
df_m = pd.read_csv("../input/patient/patients.csv")
df_m.columns

Index(['Id', 'BIRTHDATE', 'DEATHDATE', 'SSN', 'DRIVERS', 'PASSPORT', 'PREFIX',
       'FIRST', 'LAST', 'SUFFIX', 'MAIDEN', 'MARITAL', 'RACE', 'ETHNICITY',
       'GENDER', 'BIRTHPLACE', 'ADDRESS', 'CITY', 'STATE', 'COUNTY', 'ZIP',
       'LAT', 'LON', 'HEALTHCARE_EXPENSES', 'HEALTHCARE_COVERAGE'],
      dtype='object')

In [7]:
df_m=df_m.drop(['BIRTHDATE', 'DEATHDATE','SSN','DRIVERS','PASSPORT','PREFIX','STATE','FIRST','LAST','SUFFIX','MAIDEN','RACE','ETHNICITY'], axis = 1)

In [8]:
df_m=df_m.drop(['MARITAL', 'GENDER','BIRTHPLACE','ADDRESS','CITY','COUNTY'], axis = 1)

In [9]:
df_m.head()

,Id,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,1013.0,42.228354,-72.562951,271227.08,1334.88
1,034e9e3b-2def-4559-bb2a-7850888ae060,2143.0,42.360697,-71.126531,793946.01,3204.49
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,1020.0,42.181642,-72.608842,574111.90,2606.40
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,1851.0,42.636143,-71.343255,935630.30,8756.19
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,2135.0,42.352434,-71.028610,598763.07,3772.20

In [10]:
df_m=df_m.drop(['HEALTHCARE_EXPENSES', 'HEALTHCARE_COVERAGE'], axis = 1)

In [11]:
df_m.head()

                                     Id     ZIP        LAT        LON
0  1d604da9-9a81-4ba9-80c2-de3375d59b40  1013.0  42.228354 -72.562951
1  034e9e3b-2def-4559-bb2a-7850888ae060  2143.0  42.360697 -71.126531
2  10339b10-3cd1-4ac3-ac13-ec26728cb592  1020.0  42.181642 -72.608842
3  8d4c4326-e9de-4f45-9a4c-f8c36bff89ae  1851.0  42.636143 -71.343255
4  f5dcd418-09fe-4a2f-baa0-3da800bd8c3a  2135.0  42.352434 -71.028610

In [12]:
df_f = pd.merge(df, df_m, on="Id")
print(df_f)

      Unnamed: 0                                    Id   BIRTHDATE  \
0              0  00185faa-2760-4218-9bf5-db301acf8274  2003-11-18
1              1  0042862c-9889-4a2e-b782-fac1e540ecb4  2009-11-26
2              2  0047123f-12e7-486c-82df-53b3a450e365  1960-01-20
3              3  010d4a3a-2316-45ed-ae15-16f01c611674  1998-05-31
4              4  0149d553-f571-4e99-867e-fcb9625d07c2  1979-06-21
...          ...                                   ...         ...
1147        1147  ff02f237-fedb-453b-85b1-ebfc2609c312  1999-01-09
1148        1148  ff3714ac-c7e3-4910-905e-2a321eb28144  1997-05-20
1149        1149  ff6948b7-3d62-4bfc-bc7d-dbb6748ed0be  1977-06-27
1150        1150  ffa37e71-fa14-4e84-ba9d-aece8d1d99f9  1966-02-11
1151        1151  ffcfa457-00c2-4405-9837-ac2781549c7e  2016-06-13

                DEATHDATE         FIRST          LAST   RACE    ETHNICITY  \
0                       0    Eusebio566      Wyman904  white  nonhispanic
1                       0     Dewitt635      Feest103  white  nonhispanic
2                       0     Jordon466     Harber290  black  nonhispanic
3                       0    Patrick786  Hettinger594  white  nonhispanic
4                       0      Sophie40    Kessler503  white     hispanic
...                   ...           ...           ...    ...          ...
1147                    0      Riley817   Donnelly343  white  nonhispanic
1148                    0  Salvatore257    Roberts511  white  nonhispanic
1149                    0       Kris249   Champlin946  white  nonhispanic
1150  2003-06-01 00:00:00    Shirley182     Douglas31  black  nonhispanic
1151                    0        Sid118        Von197  white  nonhispanic

     GENDER          CITY  ... HEALTHCARE_COVERAGE age  SCORE  COUNT  \
0         M          Lynn  ...             9863.36  18      2      5
1         M        Boston  ...             1240.76  12      4      4
2         M     Middleton  ...             7108.77  61      4      6
3         M    Pittsfield  ...             3346.40  23      2      3
4         F  Northborough  ...             6713.48  42      5      9
...     ...           ...  ...                 ...  ..    ...    ...
1147      M         Dover  ...             2920.64  22      3      4
1148      M   Belchertown  ...             3405.56  24      3      6
1149      F    Fall River  ...            16754.77  44      8     15
1150      F          Lynn  ...             7002.65  55      4      8
1151      M      Chicopee  ...             1786.56   5      5      5

        WEIGHT  ADH  Life Span     ZIP        LAT        LON
0     0.400000   -1          1  1907.0  42.486646 -70.935805
1     1.000000    1          1  2109.0  42.341120 -71.167926
2     0.666667    1          1     NaN  42.649161 -70.967391
3     0.666667    1          1  1201.0  42.479132 -73.233565
4     0.555556   -1          1  1532.0  42.297481 -71.625323
...        ...  ...        ...     ...        ...        ...
1147  0.750000    1          1     NaN  42.236541 -71.277803
1148  0.500000   -1          1     NaN  42.274813 -72.378483
1149  0.533333   -1          1  2720.0  41.702741 -71.160285
1150  0.500000   -1         -1  1940.0  42.521593 -70.896867
1151  1.000000    1          1  1022.0  42.177127 -72.647205

[1152 rows x 23 columns]

In [13]:
df_f.head()

,Unnamed: 0,Id,BIRTHDATE,DEATHDATE,FIRST,LAST,RACE,ETHNICITY,GENDER,CITY,...,HEALTHCARE_COVERAGE,age,SCORE,COUNT,WEIGHT,ADH,Life Span,ZIP,LAT,LON
0,0,00185faa-2760-4218-9bf5-db301acf8274,2003-11-18,0,Eusebio566,Wyman904,white,nonhispanic,M,Lynn,...,9863.36,18,2,5,0.400000,-1,1,1907.0,42.486646,-70.935805
1,1,0042862c-9889-4a2e-b782-fac1e540ecb4,2009-11-26,0,Dewitt635,Feest103,white,nonhispanic,M,Boston,...,1240.76,12,4,4,1.000000,1,1,2109.0,42.341120,-71.167926
2,2,0047123f-12e7-486c-82df-53b3a450e365,1960-01-20,0,Jordon466,Harber290,black,nonhispanic,M,Middleton,...,7108.77,61,4,6,0.666667,1,1,NaN,42.649161,-70.967391
3,3,010d4a3a-2316-45ed-ae15-16f01c611674,1998-05-31,0,Patrick786,Hettinger594,white,nonhispanic,M,Pittsfield,...,3346.40,23,2,3,0.666667,1,1,1201.0,42.479132,-73.233565
4,4,0149d553-f571-4e99-867e-fcb9625d07c2,1979-06-21,0,Sophie40,Kessler503,white,hispanic,F,Northborough,...,6713.48,42,5,9,0.555556,-1,1,1532.0,42.297481,-71.625323

In [14]:
lat=df_f['LAT']
lon=df_f['LON']
gen=df_f['ADH']
eth=df_f['ETHNICITY']
cou=df_f['COUNTY']

In [15]:
for lt,ln,sex,e,c in zip(lat,lon,gen,eth,cou):
    fg.add_child(folium.Marker(location=[lt,ln],popup=e,tooltip=c,icon=folium.Icon(color=colorchange(sex)),draggable=False))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: color argument of Icon should be one of: {'green', 'darkred', 'lightblue', 'darkpurple', 'red', 'lightred', 'blue', 'purple', 'white', 'gray', 'beige', 'pink', 'orange', 'lightgray', 'black', 'darkgreen', 'cadetblue', 'darkblue', 'lightgreen'}.

In [16]:
map.add_child(fg)
map.save("MapPatients.html")